<div class="footer-container">
  <div class="footer-left text-center hidden-xs">
    <h4>Contact</h4>
    <ul class="list-inline">
      <li><%= link_to contact_path do %>
        <i class="fa fa-envelope" aria-hidden="true"></i> Contactez moi!
        <% end %>
      </li>
    </ul>
  </div>
  <div class="footer-middle text-center">
    <h4>Mon travail</h4>
    <ul>
      <li><%= link_to root_path do %>
        <i class="fa fa-paint-brush" aria-hidden="true"></i> Peintures
        <% end %>
      </li>
    </ul>
  </div>
  <div class='footer-right text-center'>
    <h4>Besoin d'un site?</h4>
    <ul class="list-inline">
      <li><a href="mailto:arthur.littmann@gmail.com"><i class="fa fa-code" aria-hidden="true"></i>Contactez le développeur</a></li>
    </ul>
  </div>
  <% if user_signed_in? %>
  <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: 'devise-footer' %>
  <% else %>
  <%= link_to "Administrateur", user_session_path, class: 'devise-footer' %>
  <% end %>
</div>

