<div class="container full-screen">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h3>Contactez moi!</h3>
      <form method="POST" action="http://formspree.io/arthur.littmann@gmail.com">
        <div class="form-group">
          <input type="email" name="email" placeholder="Votre email" class="form-control margin-bottom" required>
          <input type="subject" name="subject" placeholder="Sujet" class="form-control margin-bottom">
          <textarea rows="5" name="message" placeholder="Votre message" class="form-control" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
      </form>
    </div>
    <div class="col-xs-12 col-sm-6">
    <div class="profile-card">
      <div class="profile-card-title">
        <h3>Beatrice Kosowski</h3>
        <h3><small>Peintre</small></h3>
      </div>
      <div class="profile-card-image">
        <%= image_tag "banner.jpg", class: "img-thumbnail" %>
      </div>
      <div class="profile-card-description">
        <p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
      </div>
    </div>
    </div>
  </div>
</div>
