<div class="container full-screen">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h1>Contactez moi!</h1>
      <form method="POST" action="http://formspree.io/arthur.littmann@gmail.com">
        <div class="form-group">
          <input type="email" name="email" placeholder="Votre email" class="form-control margin-bottom" required>
          <input type="subject" name="subject" placeholder="Sujet" class="form-control margin-bottom">
          <textarea rows="5" name="message" placeholder="Votre message" class="form-control" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
      </form>
    </div>
    <div class="col-xs-12 col-sm-6">
    <div class="card-profile hovercard-profile">
    <div class="card-profileheader">

        </div>
        <div class="avatar">
          <img alt="" src="http://lorempixel.com/100/100/people/9/">
        </div>
        <div class="info">
          <div class="title">
            <a target="_blank" href="http://scripteden.com/">Script Eden</a>
          </div>
          <div class="desc">Passionate designer</div>
          <div class="desc">Curious developer</div>
          <div class="desc">Tech geek</div>
        </div>
        <div class="bottom">
          <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="btn btn-danger btn-sm" rel="publisher"
          href="https://plus.google.com/+ahmshahnuralam">
          <i class="fa fa-google-plus"></i>
        </a>
        <a class="btn btn-primary btn-sm" rel="publisher"
        href="https://plus.google.com/shahnuralam">
        <i class="fa fa-facebook"></i>
      </a>
      <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
        <i class="fa fa-behance"></i>
      </a>
    </div>
  </div>
</div>
</div>
</div>
