.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.75);
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(4,1,67,0.09), 0 4px 16px 4px rgba(10,35,75,0.09);
  margin: 20px;
  padding: 10px;
}

.profile-card-title {
  text-align: center

}

.profile-card-title h3 {
  color: white;
  margin: 0;
  font-weight: 300;

}
.profile-card-title small {
  color: whitesmoke;
  font-weight: 100;
  font-style: italic;
}

.profile-card-image img {
  width: 100%;
}

.profile-card-description {
  margin-top: 10px;
  color: white;
  font-weight: 100;
  font-size: 16px;
  text-align: justify;
}
